.product {
    width: 250px;
    height: 350px;
    resize: both;
    overflow: none;
    border: 1px solid #e9e9e9;
    background-color: rgb(204, 204, 204);
    border-radius: 6px;
    padding: 10px;
    box-shadow: -1px 2px 2px 2px #b8b8b8;


}

.product:hover {
    border-color: #aaaaaa;
    box-shadow: -1px 2px 5px 0px #779db3;
}

.productImage {
    width: 100%;
    height: 75%;
}