
.qp-page {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}
.qp-page button {
    margin-right: 5px;
    margin-left: 5px;
}

.btn-info {
    color: rgb(0, 0, 0);
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-color: black;
    margin-bottom: 10px;
}

.fa-cart-plus {
    width: 25px;
    height: 25px;
}

.cartButton {
    border-radius: 6px;
    background-color: white;
}

@media only screen and (min-device-width: 768px) {
    .qp-page button {
        margin-right: 5px;
        margin-left: 5px;
        width: auto;
    }
    
    .btn-info {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        border-color: black;
        height: 30px;
    }
    
}