.App {
  text-align: center;
  width: auto;
  resize: both;
  overflow: auto;
  margin-left: 25px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.products {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 25px;
  row-gap: 25px;
  justify-items: center;
  align-self: center;
  width: auto;

  margin-bottom: 25px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
